body{
	background-color: #93a4aa;
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
}
h1{
	text-align: center;
	color:#111;
	padding-top: 1.3em;
	font-size: 2em;
	font-weight: 600;
}
p{
	font-size: 0.8em;
}
.exp{
	width: auto;
}
.fotuela{
	height: auto;
	position: relative;
	top:0;
	width: 100%;
	background: linear-gradient(to bottom right, rgb(254, 215, 102), purple);
	color: white;
	box-sizing: border-box;
	/*background-image:url("");*/
}
.logo:hover{
	color: black;
	/*box-shadow: 10px 10px 5px grey;*/
	text-shadow: 10px 10px 5px grey;
}
.logo{
	text-shadow: 10px 10px 5px grey;
	color: white;
	margin-top: 3%;
	font-size: 13rem;
	-webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
}

.logo2{
	color: white;
	font-size: 1.5em;
}

.presenta{

}
.presenta h1{
	font-size: 2.5em;
	margin-top: 1.5em;
	margin-bottom: 1em;
	padding-top: 0em;
	font-weight: 600;
	color: white;
	text-align: center;
}
.centra{
	margin: 0 auto;
	text-align: center;
}
.low{
	margin-top: 4.3em;
}
.low2{
	padding-bottom: 2em;
}
.marb{
	margin-bottom: 10%;
}
.padalt{
	padding-top: 1.5em;
}
div + .centra a{
	font-size: 0.8em;
	color:rgba(255,255,255,0.7);
}
div + .centra a:hover{
	color:rgba(255,255,255,0.9);
}

#exper{
	height: auto;
	width: 100%;
	color: #93a4aa;
	background-color: #fff;
	box-sizing: border-box;
}
h4{
	margin-bottom: 2em;
	font-size: 1.1em;
	color:#111;
	letter-spacing: 0.2em;
	font-weight: 100;
	padding-bottom: 3.3em;
}
h3{
	text-align: center;
	color:#111;
	padding-top: 0.3em;
	font-size: 2em;
	font-weight: 700;
}
.one-third p{
	font-size: 0.75em;
	padding-bottom: 6.5em;
}

.icono{
	color: rgb(254, 215, 102);
	font-size: 2.7em;
}
.work{
	height: auto;
	width: 100%;
	color: #93a4aa;
	background-color: #eee;
}
.work img{
	width: 98%;
	border-radius: 5%;
}

.quotes{
	font-size: 0.9em;
	color: #252a30;
	margin: 0 20% 10% 20%;
	margin-bottom: 0.5em;;
}
.fotopersonal{
	height: 9em;
	width: 90%;
	margin: 0 auto;
	box-sizing: border-box;
	/*border: 1px solid blue;*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.fotopersonal:hover{
	height: 12em;
	width: 100%;
}
#contact{
	height: auto;
	width: 100%;
	background-color:#FED766;
}
#contact h1{
	padding-top: 3.5em;
}
.contap{
	margin: 0 20% 10% 20%;
}
.personal{
	height: auto;
	width: 100%;
	background-color: #fff;
}
.foot{
	height: auto;
	padding: 5%;
	background-color:#252a30;
}
.foot i{
	display: inline-block;
}
.foot p{
	display: inline-block;
	float: right;
	text-align: right;
	color: white;
}

.boton1{
	background-color: #4CAF50;
	border: 2px solid rgb(254, 215, 102);
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 4px 2px auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    cursor: pointer;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: transparent;
    font-weight: 700;
}
.boton1:hover {
    background-color: rgb(254, 215, 102);
    border-color: rgb(254, 215, 102);
    color: black;
    padding: 14px 48px;
}
.boton2{
	background-color: #4CAF50;
	border: 2px solid rgb(254, 215, 102);
    color: #252a30;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6em;
    margin: 4px 2px auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    cursor: pointer;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: transparent;
    font-weight: 900;
}
.boton2:hover {
    background-color: #252a30;
    color:rgb(254, 215, 102);
    padding: 10px 48px;
    border: 2px solid #252a30;
}
.boton3{
	background-color: #4CAF50;
	border: 2px solid #252a30;
	font-weight: 900;
    color: #252a30;
    padding: 16px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6em;
    margin: 4px 2px auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    cursor: pointer;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: transparent;
    margin-bottom: 6em;
}
.boton3:hover {
    background-color: #252a30;
    color:rgb(254, 215, 102);
    padding: 16px 54px;
    border: 2px solid #252a30;
}